
#map {
    padding-top: 10px;
    margin: auto;
   width: 95%;
   height: 400px;
   background-color: grey;
 }

#order_list_root {
    width: 95%;
    margin: auto;
    margin-top: 10px;
}


.order_details {
    width: 100%;
    margin-bottom: 10px;
}

.top_cotainer{
	margin-top: 20px;
	width: 80%;
	height: 40px;
	margin-left: 16px;
}
.root_cotainer{
	margin-top: 20px;
	width: 80%;
	height: 40px;
	margin-left: 16px;

}