
#map {
    margin: auto;
    width: 95%;
    height: 400px;
    background-color: grey;
 }

#order_list_root {
    width: 95%;
    margin: auto;
    margin-top: 10px;
}


.order_details {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.demo-card-square {
    float: left;
    margin: 10px;
    width: 250px;
}

.demo-card-square > .mdl-card__supporting-text {
    color: black;
    font-size: 1.2em;
}

.demo-card-square > .mdl-card__title > h2 {
    color: white !important;
    text-shadow: 2px 2px 3px black;
    background-color: black;
    opacity: 0.9;
}
